<div>
  <table class="vendor-table">
  <% @vendors.each do |vendor| %>
    <tr>
      <td><h2><strong><%= vendor.name %></strong><h2></td>
    </tr>
    <% vendor.items.each do |item| %>
      <tr>
        <td><%= item.name %> $<%= item.price %></td>
      </tr>
    <% end %>
    <tr>
      <td><button class="button"><%= link_to "Order From This Vendor", new_vendor_order_path(vendor) %></button></td>
    </tr>
  <% end %>
  </table>
</div>
